<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Welcome!{% endblock %}</title>

<meta name="description" content="">
<meta name="author" content="">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="{{  asset('assets/images/favicon.ico') }}" type="image/x-icon" />
{% block stylesheets %}{% endblock %}